@import url("https://fonts.googleapis.com/css?family=Roboto");

.footer-component {
  background-color: #283593;
  color: white;
  font-family: "Roboto";
  padding: 40px;
  height: 100vh;
}

.home-page {
 background-color: white;
 color: #001064;
}

.footer-padding {
  padding-top: 150px;
}

.navigation-bar {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Roboto";
  background-color: #5f5fc4;
  position: fixed;
  width: 100%;
  z-index: 98;
}

.major-padding-page {
  padding-top: 250px;
  padding-bottom: 220px;
  font-family: "Roboto";
}

.modal-page {
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  color: #432c5b;
  font-family: "Roboto";
}

.modal-page-purple {
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color:#7e71a4; 
  color: white;
  font-family: "Roboto";
  z-index: 100;
}

.modal-page-light-purple {
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color:#6b5895; 
  color: white;
  font-family: "Roboto";
  z-index: 99;
}



.modal-page-blue {
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color:#4b1afc; 
  color: white;
  font-family: "Roboto";
  z-index: 99;
}

.modal-page-white {
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color:white; 
  color: #283593;
  font-family: "Roboto";
}

.modal-box {
  background-color: white;
  color: #283593;
  padding: 50px;
}

.closebtndark {
  color: #283593;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closebtndark:hover,
.closebtndark:focus {
  color: #283593;
  text-decoration: none;
  cursor: pointer;
}

.modal-padding {
  padding-top: 30px;
}

.text-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.page {
  padding-top: 100px;
  padding-bottom: 20px;
  font-family: "Roboto";
  color: #283593;
}

.navlink {
  text-decoration: none;
}

.navlink:hover {
  text-decoration: none;
  color: #c5cae9;
}

.input-bar {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: #283593;
  color: #283593;
  outline: none;
  background-color: transparent;
}

.input-bar::placeholder {
  color: #283593;
}

.input-container {
 padding-top: 15px;
 padding-bottom: 15px;
}

.input-login-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.button-purple {
  background-color: #283593;
  color: white;
  border-radius: 5px;
  border-style: none;
}

.button-black {
  background-color: black;
  color: white;
  border-radius: 5px;
  border-style: none;
}

.button-all-white {
  background-color: white;
  color: #001064;
  border-radius: 5px;
  border-style: none;
}

.button-purple:hover {
  background-color: #5f5fc4;
}

.button-black:hover {
  background-color: grey;
}

.button-padding {
  padding-top: 15px;
  padding-bottom: 15px;
}

.button-spacing {
  padding-right: 10px;
}

.text-white {
  color: white;
}

.text-padding-major {
  padding-top: 50px;
  padding-bottom: 50px;
}

svg path,
svg rect{
  fill: white;
}

.dash-navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  font-family: 'Roboto';
  background-color: #5c6bc0;
  color: white;
  position: fixed;
  width: 100%;
}

.dash {
  padding-top: 50px;
}

.dash-navigation {
  position: fixed;
  background-color: #001064;
  color: white;
  font-family: 'Roboto';
  height: 100vh;
  padding-top: 20px;
  width: 220px;
}

.dash-comp-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.dash-comp-container h6:hover {
  color: #d2c1fd;
  cursor: pointer;
}

.non-nav-page {
  margin-left: 205px;
  background-color: #fafafa;
  height: 100vh;
  color: #001064;
  font-family: "Roboto";
}

.frontend-page-title {
  background-color: #5f5fc4;
  color: white;
  padding: 30px;
}

.backend-page-title {
  background-color: #5f5fc4;
  color: white;
  padding: 30px;
}

.frontcompliance-page-title {
  background-color: #5f5fc4;
  color: white;
  padding: 30px;
}

.page-content {
  padding: 30px;
}

.admin-page {
  padding-top: 20px;
  padding-bottom: 25px;
  font-family: 'Roboto';
  color: #283593;
}

.title-padding {
  padding-top: 15px;
  padding-bottom: 15px;
}

.text-model {
  padding-top: 10px;
  padding-bottom: 10px
}

.code-model {
  padding: 20px;
  background-color: #d2c1fd;
  color: #283593;
  text-align: center;
}

.code-container {
  color: #283593;
  background-color: #d2c1fd;
  width: 100%;
  padding: 20px;
  box-shadow: -5px 10px #7e71a4;
}

.tag {
  background-color: #283593;
  color: white;
  border-radius: 5px;
}

.tag-padding {
  padding: 5px;
}

.text-area-input {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: #283593;
  color: #283593;
  outline: none;
  height: 100px;
}

.text-area-input::placeholder {
  color: #283593;
}

.render-card {
  background-color: #283593;
  color: white;
  padding: 30px;
  border-radius: 10px;
}

.card-spacing {
  padding: 5px;
}

.render-card:hover{
  background-color: #7246fe;
}

.project-homepage-title {
  background-color: #5f5fc4;
  color: white;
  padding: 50px;
}

.projects-homepage {
  padding: 30px;
}

.project-navigation {
  position: fixed;
  padding: 20px;
  background-color: #283593;
  color: white;
  font-family: "Roboto";
  height: 100vh;
  width: 200px;
}

.project-title {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  font-family: "Roboto";
  color: white;
  background-color: #001064;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav-comp-container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.api-page {
  padding: 15px;
}
.nav-list-inline li {
 float: left;
 padding: 10px;
 list-style-type: none;
}

.project-component {
  padding: 20px;
}

.project-notes {
  padding: 20px;
}

.note-container {
  padding: 10px;
}

.project-note {
  background-color: black;
  color: white;
  padding: 50px;
  width: 300px;
  height: 200px;
  box-shadow: -5px 10px #001064;
}

.project-note:hover {
  background-color: #5c6bc0;
}

.user-search-container {
  background-color: #4b1afc;
  color: white;
  padding: 7px;
  width: 100%;
}

.button-white {
  background-color: #5f5fc4;
  color: white;
  border-radius: 5px;
  border-style: none;
}

.button-white:hover {
  background-color: #c5cae9;
  color: #001064;
}

.pointer {
  cursor: pointer;
}

.project-users {
  padding: 15px;
}

.input-comment {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  border-style: solid;
  border-color: #283593;
  color: #283593;
  background-color: transparent;
}

.input-comment::placeholder {
  color: #283593;
}

.columncard {
  width: 400px;
  height: 200px;
}

.loadingblue {
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid #0D47A1;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg) }
}

.project-card {
  padding: 40px;
  background-color: #283593;
  color: white;
  border-radius: 10px;
}

.project-card:hover {
  background-color: #5f5fc4;
}

.nav-card {
  text-decoration: none;
}

.nav-card:hover {
  text-decoration: none;
}

.comment-container {
  padding-top: 5px;
  padding-bottom: 5px;
}

.comment {
  background-color: #5f5fc4;
  color: white;
  border-radius: 8px;
}

.users-spacing {
  padding: 20px;
}

.users-container {
  padding: 80px;
  background-color: white;
  color: #001064;
  border-radius: 50%;
  border-style: solid;
  border-color: #001064;
}

.users-container:hover {
  background-color: #001064;
  color: white;
}


.pending-project {
  background-color: #283593;
  color: white;
  padding: 50px;
  border-radius: 20px;
}

.code-editor {
  background-color: transparent;
  border-style: none;
  outline: none;
  color: black;
  width: 100%;
}

.service-box {
  background-color: #001064;
  color: white;
  padding: 20px;
  box-shadow: -5px 10px #7e71a4;
}

.button-major-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.analyticspage {
  padding: 15px;
}

.model-card {
  padding: 50px;
  width: 300px;
  height: 200px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  box-shadow: -5px 10px #5f5fc4;
}

.model-edit-container {
  padding: 30px;
  background-color: #d2c1fd;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: -5px 10px #5c6bc0;
}

.color-white {
  color: white;
}

.table {
  background-color: #283593;
  color: white;
}

.table:hover {
  background-color: #001064;
}

.data-nav-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #283593;
  color: white;
  font-family: "Roboto";
  position: fixed;
  width: 100%;
}

.data-page {
  padding: 20px;
  font-family: "Roboto";
  color: #283593;
  margin-left: 100px;
}

.table-data {
  width: 100%;
}

.table-data-headers {
  background-color: #001064;
  color: white;
}

.table-header {
  padding: 12px;
}

.table-item {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #d2c1fd;
}


.data-title {
  padding-left: 40px;
  width: 200px;
}

.data-nav {
  position: fixed;
  height: 100vh;
  background-color: #5c6bc0;
  color: white;
  font-family: "Roboto";
}

.data-whole-page {
  padding-top: 52px;
}

.table-row:hover {
  background-color: #d2c1fd;
}

.comp-container {
  padding: 20px;
}

.button-red {
  background-color: #EF5350;
  color: white;
  border-radius: 5px;
  border-style: none;
}

.project {
  padding-top: 55px;
}

.project-auth {
  padding: 15px;
}

.spacing-container {
  padding: 10px;
}

.loading-container-component {
  color: #283593;
}

.api-page-constant {
  background-color: #5c6bc0;
  color: white;
  padding: 20px;
}

.card-project-api {
  background-color: white;
  color: #001064;
  padding: 50px;
  border-radius: 15px;
}

.padding-api-page-constant {
  padding: 40px;
}

.card-project-api:hover {
  background-color: #c5cae9;
}

.modal-comp {
  background-color: #fafafa;
  color: #001064;
  padding: 20px;
}

.empty-model-container {
  padding: 60px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  background-color: #5c6bc0;
  color: white;
  box-shadow: -5px 10px #7e71a4;
}

.empty-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.empty-notes-container {
  padding: 60px;
  box-shadow: -5px 10px #5c6bc0;
  background-color: #001064;
  color: white;
  border-radius: 10px;
}

.empty-auth-container {
  padding: 60px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  background-color: white;
  color: #001064;
  border-radius: 10px;
}

.empty-table-container {
  padding: 60px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  background-color: white;
  color: #001064;
  border-radius: 10px;
}

.background-front-end-nav {
  background-color: #5f5fc4;
  color: white;
  height: 338px;
  padding: 20px;
  box-shadow: -5px 10px #001064;
}

.comp-spacing {
  padding-top: 10px;
  padding-bottom: 10px;

}