@import url("https://fonts.googleapis.com/css?family=Quicksand");

.navigation-bar {
  color: #304FFE;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Quicksand";
  position: fixed;
  width: 100%;
}

.major-padding-page {
  padding-top: 250px;
  padding-bottom: 250px;
  color: #304FFE;
  font-family: "Quicksand";
}

.modal-page {
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  color: #304FFE;
  font-family: "Quicksand";
}

.modal-page-purple {
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color:#304FFE; 
  color: white;
  font-family: "Quicksand";
}

.modal-page-blue {
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color:#3D5AFE; 
  color: white;
  font-family: "Quicksand";
}

.modal-page-white {
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color:white; 
  color: #304FFE;
  font-family: "Quicksand";
}

.modal-box {
  background-color: white;
  color: #304FFE;
  padding: 50px;
}

.closebtndark {
  color: #304FFE;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closebtndark:hover,
.closebtndark:focus {
  color: #304FFE;
  text-decoration: none;
  cursor: pointer;
}

.modal-padding {
  padding-top: 30px;
}

.text-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.page {
  padding-top: 100px;
  padding-bottom: 20px;
  font-family: "Quicksand";
  color: #304FFE;
}

.navlink {
  text-decoration: none;
}

.navlink:hover {
  text-decoration: none;
}

.input-bar {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: #304FFE;
  color: #304FFE;
  outline: none;
}

.input-bar::placeholder {
  color: #304FFE;
}

.input-container {
 padding-top: 15px;
 padding-bottom: 15px;
}

.input-login-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.button-purple {
  background-color: #304FFE;
  color: white;
  border-radius: 5px;
  border-style: none;
}

.button-purple:hover {
  background-color: #536DFE;
}

.button-padding {
  padding-top: 15px;
  padding-bottom: 15px;
}

.text-white {
  color: white;
}

.text-padding-major {
  padding-top: 50px;
  padding-bottom: 50px;
}

svg path,
svg rect{
  fill: white;
}

.dash-navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  font-family: 'Quicksand';
  background-color: #536DFE;
  color: white;
}

.dash-navigation {
  position: fixed;
  background-color: #3D5AFE;
  color: white;
  font-family: 'Quicksand';
  height: 100vh;
  padding-top: 20px;
  width: 220px;
}

.dash-comp-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.dash-comp-container h6:hover {
  color: #E3F2FD;
  cursor: pointer;
}

.non-nav-page {
  margin-left: 205px;
  color: #304FFE;
  font-family: "Quicksand";
}

.frontend-page-title {
  background-color: #E3F2FD;
  padding: 30px;
}

.backend-page-title {
  background-color: #8C9EFF;
  color: white;
  padding: 30px;
}

.frontcompliance-page-title {
  background-color: #2962FF;
  color: white;
  padding: 30px;
}

.page-content {
  padding: 30px;
}

.admin-page {
  padding-top: 20px;
  padding-bottom: 25px;
  font-family: 'Quicksand';
  color: #304FFE;;
}

.title-padding {
  padding-top: 15px;
  padding-bottom: 15px;
}

.text-model {
  padding-top: 10px;
  padding-bottom: 10px
}

.code-model {
  padding: 20px;
  background-color: #E3F2FD;
  color: #304FFE;
  text-align: center;
}

.code-container {
  color: #304FFE;
  background-color: #E3F2FD;
  width: 100%;
  padding: 20px;
}

.tag {
  background-color: #304FFE;
  color: white;
  border-radius: 5px;
}

.tag-padding {
  padding: 5px;
}

.text-area-input {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: #304FFE;
  color: #304FFE;
  outline: none;
  height: 100px;
}

.text-area-input::placeholder {
  color: #304FFE;
}

.render-card {
  background-color: #304FFE;
  color: white;
  padding: 30px;
  border-radius: 10px;
}

.card-spacing {
  padding: 5px;
}

.render-card:hover{
  background-color: #2962FF;
}

.project-homepage-title {
  padding: 30px;
  color: #304FFE;
}

.projects-homepage {
  padding: 30px;
}

.project-navigation {
  position: fixed;
  padding: 20px;
  background-color: #E3F2FD;
  color: #304FFE;
  font-family: "Quicksand";
  height: 100vh;
  width: 200px;
}

.project-title {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  font-family: "Quicksand";
  color: white;
  background-color: #2962FF;
}

.nav-comp-container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.api-page {
  padding: 15px;
}
.nav-list-inline li {
 float: left;
 padding: 10px;
 list-style-type: none;
}

.project-component {
  padding: 20px;
}

.project-notes {
  padding: 20px;
}

.note-container {
  padding: 10px;
}

.project-note {
  background-color: #304FFE;
  color: white;
  padding: 50px;
  width: 300px;
  height: 200px;
}

.project-note:hover {
  background-color: #536DFE;
}

.user-search-container {
  background-color: #536DFE;
  color: white;
  padding: 7px;
  width: 100%;
}

.button-white {
  background-color: #E3F2FD;
  color: #304FFE;
  border-radius: 5px;
  border-style: none;
}

.button-white:hover {
  background-color: #E3F2FD;
}

.pointer {
  cursor: pointer;
}

.project-users {
  padding: 15px;
}

.input-comment {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  border-style: solid;
  border-color: #304FFE;
  color: #304FFE;
  background-color: transparent;
}

.input-comment::placeholder {
  color: #304FFE;
}

.columncard {
  width: 400px;
  height: 200px;
}

.loadingblue {
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid #0D47A1;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg) }
}

.project-card {
  padding: 40px;
  background-color: #304FFE;
  color: white;
  border-radius: 10px;
}

.project-card:hover {
  background-color: #8C9EFF;
}

.nav-card {
  text-decoration: none;
}

.nav-card:hover {
  text-decoration: none;
}

.comment-container {
  padding-top: 5px;
  padding-bottom: 5px;
}

.comment {
  background-color: #3D5AFE;
  color: white;
  border-radius: 8px;
}

.users-spacing {
  padding: 20px;
}

.users-container {
  padding: 50px;
  background-color: #3D5AFE;
  color: white;
}

.users-container:hover {
  background-color: #3D5AFE;
}

.pending-project {
  background-color: #304FFE;
  color: white;
  padding: 50px;
  border-radius: 20px;
}

.code-editor {
  background-color: transparent;
  border-style: none;
  outline: none;
  color: black;
  width: 100%;
}

.service-box {
  background-color: #2962FF;
  color: white;
  padding: 20px;
}

.button-major-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.analyticspage {
  padding: 15px;
}

.model-card {
  padding: 50px;
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.table {
  background-color: #304FFE;
  color: white;
}

.data-nav-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #E3F2FD;
  color: #2962FF;
  font-family: "Quicksand";
  position: fixed;
  width: 100%;
}

.data-page {
  padding: 20px;
  font-family: "Quicksand";
  color: #2962FF;
  margin-left: 100px;
}

.table-data {
  width: 100%;
}

.table-data-headers {
  background-color: #3D5AFE;
  color: white;
}

.table-header {
  padding: 12px;
}

.table-item {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #E3F2FD;
}


.data-title {
  padding-left: 40px;
  width: 200px;
}

.data-nav {
  position: fixed;
  height: 100vh;
  background-color: #2962FF;
  color: white;
  font-family: "Quicksand";
}

.data-whole-page {
  padding-top: 50px;
}

.table-row:hover {
  background-color: #E3F2FD;
}

.comp-container {
  padding: 20px;
}

.button-red {
  background-color: #EF5350;
  color: white;
  border-radius: 5px;
  border-style: none;
}

.project-auth {
  padding: 15px;
}

.spacing-container {
  padding: 10px;
}